:root{
    --bg-screen:#eff2f5;
    --bg-calc:#ECB176;
    --bg-screen-calc:#FCDC94;
    --btn-color:#c65a5a;
}
body{
    margin: 0;
    padding: 0;
    background-color:var(--bg-screen) ;
    font-family: monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}
.calc{
    background: var(--bg-calc);
    width: 350px;
    border-radius: 10px;
    box-shadow:  0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    overflow: hidden;

}
.screen{
    height: 100px;
    padding: 20px;
    background-color: var(--bg-screen-calc);
}
.screen h3{
    font-size: 50px;
    text-align: end;
    color: #fff;
}
.btn-group{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    padding: 20px;
}
.btn{
    border: none;
    outline: none;
    width: 90px;
    height: 40px;
    background-color: var(--btn-color);
    color: #fff;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}
.btn:hover{
    background-color: #e17f7f;
}
.btn-equal{
    background-color:#983838 ;
}
.btn:nth-child(5),.btn:nth-child(6){
    color: #32012F;
}
